.navigation {
    display: flex;
    justify-content: space-between;
}

.slds-button_brand {
    height: 40px;
    vertical-align: bottom;
}

.slds-button__icon {
    --slds-c-icon-color-foreground-default: white;
}

.filterButton {
    background-color: white;
    border: 1px solid rgb(138, 138, 138);
    height: 40px;
    width: 100px;
    box-sizing: border-box;
    border-radius: 4px;
}

.newEntryButton {
    margin-left: 30px;
}

.filters-right {
    display: flex;
}

.filter {
    position: relative;
}
.filterPopup {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border-radius: 4px;
    width: 230px;
    padding: 20px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.filterPopup ul {
    list-style: none;
}

.filterPopup ul li:not(:last-child) {
    margin-bottom: 20px;
}

.filterPopup ul li:hover {
    cursor: pointer;
}

